<form #cart="ngForm">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">My cart</h4>
    </div>

    <div class="panel-body">
      <div class="container" *ngFor="let i of items; let idx = index">
        <div class="panel panel-succes">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-2">
                {{ i.product["name"] }}
              </div>
              <div class="col-xs-2">
                <input
                  #box
                  id="qty"
                  type="number"
                  min="1"
                  max="20"
                  value="{{ i.quantity }}"
                  class="inputnumber"
                  (change)="onchange(idx, +box.value)"
                />
              </div>

              <div class="col-xs-2">
                ${{ (i.quantity * i.product.price).toFixed(2) }}
              </div>

              <div class="col-xs-2">
                <a
                  class="glyphicon glyphicon-remove-circle"
                  title="remove item"
                  (click)="remove(idx)"
                  >Remove</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <b>Estimate Total: ${{ getTotal() }}</b>
    </div>
  </div>
</form>

<br />
<br />

<form class="checkout">
  <label for="card-info">Please pay:</label>
  <div id="form-field">
    <div id="card-info" #cardInfo></div>
    <button
      class="btn btn-lg btn-outline-primary"
      id="submit-button"
      type="submit"
      onclick="alert('Thank you for your payment!!')"
    >
      Pay ${{ getTotal() }}
    </button>
  </div>
</form>
