<div class="container">
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav-right">
      <li *ngIf="ifLogin()">
        <a (click)="logOut()">Logout</a>
      </li>
      <li *ngIf="!ifLogin()">
        <a routerLink="/">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav-left">
      <li>
        <a routerLink="list">Products</a>
      </li>
      <li>
        <a routerLink="create">Create Product</a>
      </li>
      <li>
        <a routerLink="cart">
          Cart <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
