<form #createProduct="ngForm">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">Create New Product</h4>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <label for="inputName" class="center-block">Product Name: </label>
        <input
          id="inputName"
          class="form-control"
          type="text"
          formControlName="name"
          required
        />
      </div>

      <div class="form-group">
        <label for="inputPrice" class="center-block">Product Price: </label>
        <input
          id="inputPrice"
          class="form-control"
          type="text"
          formControlName="name"
          required
        />
      </div>

      <div class="form-group">
        <label
          for="photoPath"
          class="center-block"
          formControlName="name"
          required
          >Photo Path:
        </label>
        <input
          id="photoPath"
          name="photoPath"
          class="form-control"
          type="text"
          formControlName="name"
          required
        />
      </div>

      <div class="form-group">
        <label
          for="inputDescription"
          class="center-block"
          formControlName="name"
          required
          >Product Description:
        </label>
        <input
          id="inputDescription"
          class="form-control"
          type="text"
          formControlName="name"
          required
        />
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
