<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 style="text-align: center">Welcome to Login Page</h1>
    </div>
    <br />
    <br />
    <div class="panel-body">
      <div class="form-group">
        <label for="user name">User Name</label>
        <input
          ngModel
          name="userName"
          type="userName"
          class="form-control"
          id="userName"
          placeholder="user name"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          ngModel
          name="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="password"
        />
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
